<h1>Listing Albums</h1>

<ul class = "albums">
  <% if @albums.empty? %>
  <li>No albums available</li>
  <% else %>
  <% flash.each do |name, msg| -%>
       <%= content_tag :div, msg, class: name %>
     <% end -%>
  <% @albums.each do |album| %>
    <li class="album"><%= link_to album.title, album_path(album) %></li>
  <ul>
    <li class="artist"><%= album.artist %></li>
    <li class="year"><%= album.year %></li>
    <li><%= link_to 'Delete', album_path(album), method: :delete, data: { confirm: 'Are you sure?' } %><li>
  </ul>

  <% end %>
   <% end %>
</ul>
